<div class="about">
    <div class="about-header-content">
        <h2>About</h2>
        <hr><br>
        <h3>
            We're here to help you expand your business around the world!<br> Ready to move. Any time. Anywhere.
        </h3>
        <p>
            At Safewater Lines, we're committed to providing end to end logistics solutions for your freight. With SWL, you get door-to-door service that's tailored to your needs. With care and attention at every step, we're here to help you expand across the globe.
        </p>
    </div>

    <div class="about-cards-container">
        <div class="about-card">
            <h2 class="card-title">Our Vision</h2>
            <div class="card-content">
                <p>To be the most reliable and preferred partner for freight forwarding and logistics services for our customers throughout the world.</p>
            </div>
        </div>
        
        <div class="about-card">
            <h2 class="card-title">Our Core Values</h2>
            <div class="card-content">
                <p>Honesty, transparency, reliability, and accountability are at the heart of our business. We strive to sustain these values in every aspect of our work.</p>
            </div>
        </div>
        
        <div class="about-card">
            <h2 class="card-title">Our Global Mission</h2>
            <div class="card-content">
                <p>To connect the world with service that is consistent and of the highest quality to the satisfaction of customers and network partners globally.</p>
            </div>
        </div>
    </div>

    <div class="about-cards-container">
        <div class="about-card">
            <h2 class="card-title">What we do</h2>
            <div class="card-content">
                <p>Our mission is to reinvent supply chain transparency and to help you manage your business.</p>
                <p>We offer worldwide logistics excellence with a fleet that delivers to and from India, North America, Africa, and the rest of the world. Experience our market-leading service through which all your quoting, routing, tracking, and reporting functions have been streamlined to offer inimitable expertise.</p>
                <p>We provide adept assistance that's tailored to your needs, proactive notifications, and advanced tracking capabilities to help you keep your shipments on schedule.</p>
            </div>
        </div>
        
        <div class="about-card">
            <h2 class="card-title">How we do it</h2>
            <div class="card-content">
                <p>We believe in the power of a strong strategic platform, and we're committed to providing all of the services you need to ensure that your shipments arrive safely and on time.</p>
                <p>With our full suite of integrated solutions, global network, and a leading presence in emerging markets, we're able to provide the best possible service at unbeatable prices. And since we focus on maintaining exceptional standards and fostering a culture of continuous improvement, there's no need for you to worry about whether or not your shipment will make it through without a hitch—we've got it covered from start to finish!</p>
            </div>
        </div>
    </div>

    <div class="global-footer">
        WE TAKE A GLOBAL VIEW
        <p>Operating transport and warehousing in over 3 Continents and expanding further</p>
    </div>
</div>