<div class="">
    <div class="top-box">
        <h3>
            We're here to help you expand your business around the world! Ready to move. Any time. Anywhere.
        </h3>
        <div>
        At Safewater Lines, we're committed to providing end to end logistics solutions for your freight. With SWL, you get door-to-door service that's tailored to your needs. With care and attention at every step, we're here to help you expand across the globe.
        </div>
    </div>

   <div class="container">
        <div class="container-item">
            Our Vision
            To be the most reliable and preferred partner for freight forwarding and logistics services for our customers throughout the world.</div>
        <div class="container-item">
            Our Core Values
            Honesty, transparency, reliability, and accountability are at the heart of our business. We strive to sustain these values in every aspect of our work.</div>
        <div class="container-item">
            Our Global Mission
            To connect the world with service that is consistent and of the highest quality to the satisfaction of customers and network partners globally.
        </div>
   </div>

   <div class="container">
        <div class="container-item">
            <div class=".text-center">What we do</div>
            Our mission is to reinvent supply chain transparency and to help you manage your business.
            We offer worldwide logistics excellence with a fleet that delivers to and from India, North America, Africa, and the rest of the world. Experience our market-leading service through which all your quoting, routing, tracking, and reporting functions have been streamlined to offer inimitable expertise. 

            We provide adept assistance that’s tailored to your needs, proactive notifications, and advanced tracking capabilities to help you keep your shipments on schedule.
        </div>
     
        <div class="container-item">
            <div class ="text-center">How we do it</div>
            We believe in the power of a strong strategic platform, and we're committed to providing all of the services you need to ensure that your shipments arrive safely and on time.
            With our full suite of integrated solutions, global network, and a leading presence in emerging markets, we’re able to provide the best possible service at unbeatable prices. And since we focus on maintaining exceptional standards and fostering a culture of continuous improvement, there’s no need for you to worry about whether or not your shipment will make it through without a hitch—we’ve got it covered from start to finish!
        </div>
   </div>

   <div class="text-center">
    WE TAKE A GLOBAL VIEW
    Operating transport and warehousing in over 3 Continents and expanding further
   </div>

</div>