.footer{
    background-color: darkgray;
    padding: 20px;
    text-align: center;
}

.footer-content{
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}