<div class="home">

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Images/1.png" class="d-block w-100" alt="Ship 1">
      </div>
      <div class="carousel-item">
        <img src="assets/Images/2.png" class="d-block w-100" alt="Ship 2">
      </div>
      <div class="carousel-item">
        <img src="assets/Images/ocean-freight.jpg" class="d-block w-100" alt="Ship 3">
      </div>
    </div>
  </div>
  