<div class="contact">
    <div class="contact-header" style="background-image: url('assets/Images/contact.png'); padding-top: 35%; background-size: contain; background-position: center; background-repeat: no-repeat;">
    </div>

    <div class="location-cards-container">
        <div class="location-card">
            <h2 class="card-title">Our Office Location</h2>
            <div class="card-content">
                <p>#67, St. No.2, Prince Colony</p>
                <p>33 Feet Road, Mundian Kalan</p>
                <p>Ludhiana, Punjab 141015</p>
                <p>{{ contactEmail }}</p>
                <p>+91 73474-77828</p>
            </div>
        </div>
    </div>
</div>